body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: g1rayscale;
  background-color: #ffffff !important;
}

.dropdown-menu button,
.navbar .dropdown-menu{
  font-size: 1.2rem;
  font-weight: 400;
  color:rgba(0,0,0,.7);
}

.navbar,
.navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link,
.navbar .dropdown-menu a,
.navbar .dropdown-item{
  font-size: 1rem;
  font-weight: 400;
  color:rgba(0,0,0,.5);
}
.is-active{
  text-decoration: underline;
}

.ril__captionContent{
  margin-left: auto;
  margin-right: auto;
}

.MuiAppBar-colorPrimary{
  background-color:#ffffff !important;
}

.MuiButton-label,.MuiTypography-root,.MuiButtonBase-root{
  color:rgba(0,0,0,.4);
}

.MuiTypography-root span:hover,
.MuiButtonBase-root:hover{
  color:rgba(0,0,0,.5);
}
.MuiButton-root:active,
.MuiButton-root:focus {
  outline: 0;
}
.MuiTypography-root span:hover{
  cursor: pointer;
}

.dropdown .dropdown-item{
  color:rgba(0,0,0,.4) !important;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}

.dropdown-menu .dropdown-item,
.dropdown .btn-primary.dropdown-toggle{
  background-color: #ffffff !important;
  color:rgba(0,0,0,.5) !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border:none;
  box-shadow: none;
  outline: none;
}
.dropdown-menu .dropdown-item:active{
  background-color: #DBDBDB !important;
}
.dropdown .btn-primary .dropdown-toggle:link{
  background-color: #fff !important;
}
.dropdown .btn-primary .dropdown-toggle:visited{
  background-color: #fff !important;
}
.dropdown .btn-primary .dropdown-toggle:hover{
  color:rgba(0,0,0,.5) !important;
  background-color: #DBDBDB !important;
}
.dropdown .btn-primary .dropdown-toggle:active {
  background-color: #DBDBDB !important;
  color:rgba(0,0,0,.6) !important;
}
.dropdown .btn-primary .dropdown-toggle:focus {
  background-color: #DBDBDB !important;
  color:rgba(0,0,0,.6) !important;
}
#dropdown-item-button:visited,
#dropdown-item-button:hover,
#dropdown-item-button:focus{
  border-color:transparent !important;
  box-shadow:none !important;
}
.MuiAppBar-root{
  z-index: 1 !important;
}

.dropdown-item:hover{
  background-color: rgba(201, 173, 173, 0.05) !important;
}
.galleryImage{
  padding: 2px; display: block;
}
.galleryImage:hover{
  cursor: pointer;
}
.nav-link{
  padding-left: 10px !important;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  outline: 0;
}
.navbar-brand{
  font-size:1.2rem !important;
  text-transform: uppercase;
}
.navbar-nav .dropdown-item,
.navbar .navbar-brand{
  color:rgba(0,0,0,.5) !important;
}
.navbar-nav .dropdown-item:hover,
.navbar .navbar-brand:hover{
  color:rgba(0,0,0,.5) !important;
}
.navbar-nav{
  padding-top: 5px !important;
  text-transform: uppercase;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}
.ril-close,
.ril-zoom-in,
.ril-zoom-out,
.ril-prev-button,
.ril-next-button{
  outline:0 !important;
}
.ril-close:active,
.ril-zoom-in:active,
.ril-zoom-out:active,
.ril-prev-button:active,
.ril-next-button:active{
  border: 1px solid white !important;
}
.social-icon{
  margin: 0 5px;
}
.home-bottom-social-icons a{  
  margin: 15px 5px;
}

.copyright{
margin-bottom: 25px;
}

.copyright a{
  color:rgba(0,0,0,.6);
  }

  .section-footer{
  margin-top: 40px;
  text-align: center;
  color:rgba(0,0,0,.6);
}

.dropdown-menu .show,
.navbar-nav,.dropdown-menu,.dropdown-item,.dropdown,.dropdown-item{
  text-align: right !important;
}

.nav-link{
  padding: .5rem 1rem !important;
}

/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: #333;
  font-weight: 500;
}

.section-content{
  text-align: right;
  direction: rtl;
  margin: 0 3%;
  padding-bottom: 50px;
}

/* Sidebar Navigation */
.section-nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
  text-align: right;
}

.section-nav a:hover{
  text-decoration: none;
}
.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: rgba(0,0,0,.5);   
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
  outline: 0;
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}
* {
  box-sizing: border-box;
}

html, body {
  background: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-right: 1rem;
}

h1 {
  font-weight: 300;
}

.section-content h1{
  padding: 30px 0 0 0;  
  font-size: 2.2em;
}
.section-content h4{
  padding: 30px 0 0 0;  
}
/** page layout **/
main {
  display: grid !important;
  width: 100%;
  margin: 0 auto;
}

section{
  margin-bottom:40px;
  padding-top:20px;
}
/** enlarge the sections for this demo, so that we have a long scrollable page **/
section p, section li{
  direction: rtl;
}
.modal-dialog{
  max-width: 40% !important;
}
img.dialogImage{
  float:left;
}
img.dialogImageRight{
  float:right;
  margin-left:20px;
}
section .space::before{
  content: none;
  white-space: unset;
}
section .space::after{
  content: " ";
  white-space: pre;
}
section .ref::before{
  content: none;
  white-space: unset;
}
section .ref{
  color:#0645ad;
}
section .ref:hover{
  cursor: pointer;
  text-decoration: underline;
}
section .comma::before{
  content: none;
  white-space: unset;
}
section .comma::after{
  content: ", ";
  white-space: pre;
}
section span::before {
  content: "\A";
  white-space: pre;
}
section h2, .section-content h2{
  text-decoration: underline;
  text-align: center;
}
section li{
  margin-top: 10px;
  margin-bottom: 10px;
}
.quotation{
  font-size: 20px;
  color:rgba(0,0,0,.7);
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: 0px;
  position: relative;
  top: 25px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  line-height: 0;
  left: 0;
  position: relative;
  top: 20px;
  color: #ccc;
  font-size: 3em;
}
footer{
  margin:0;
  text-align: left;
  font-size: 1.2em;
  font-style: italic;
  color:rgba(0,0,0,.65);
}
h2{
  margin-bottom: 10px !important;
}
.site-container
{
  margin-top: 0;
}
.section-nav{
  /* border-top:1px solid red; */
  margin-top: 30px;
}
#bibliography li{
  list-style-type: decimal;
}
.cite_note{
  padding: 0 5px;
}
cite a:hover{
  text-decoration: underline;
}
cite a{
  color:#0645ad;
}
#loading{
  text-align: center;
  margin-top: 40px;
  direction: rtl;
}
.spinner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;  
}
.ril__captionContent{
  direction: rtl;
}
.manager{
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
.manager input{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
}
.manager button{
  width: 33%;
  padding: 12px 20px;  
  display: block;
}
.manager section{  
  padding: 20px 20px;    
  width: 100%;
  height: 500px;
  float: left;  
}
/* .databasePhoto{
  direction: ltr;
} */
#top a, .cite_ref,.cite_note, cite a{
  outline: 0;
}
.manager label{
  margin-right: 30px;
}
.manager button{
  margin-top: 20px;
}