* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  /* Mobile Styles */
  @media only screen and (max-width: 415px) {  
    #bibliography{
      margin-right: 10px; 
    }
    .drawer-container{
      display:  block;
    }
    #scrollUp{
      visibility: hidden;
    }
    img.dialogImage{
      width:70%;
      margin-right:2%;
    }  
    img.imgEnlarge{
      width:100%;
    }
    img.imgReduce{
      width:50%;
    }     
    .section-nav{
      display: none;
    }
    .site-container{
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;            
    }  
    #dropdown-item-button:hover{
      background-color:rgba(0,0,0,.05) !important;
    }
    .dropdown .btn-primary .dropdown-toggle:hover{
      background-color: #fff !important;      
    }
    .nav-link:hover{
      background-color: rgba(0,0,0,.05) !important;
      color:rgba(0,0,0,.5) !important;
    }    
    .ril-close,
    .ril-zoom-in,
    .ril-zoom-out{  
      width:45px !important;
    }    
    .navbar {
      padding: 0.9rem 2% !important;            
      border-bottom:1px solid rgba(0,0,0,.1);
    }
    .navbar-nav .dropdown-menu{
      border-left: none !important;
      border-right: none !important;
      border-radius: 0 !important;
      margin:0 !important;
    }        
    .main{
      width: 100%;      
    }      
  }

  /* Tablet Styles */
  @media only screen and (min-width: 415px) and (max-width: 1024px) { 
    #bibliography{
      margin-right: 5px; 
    }   
    .drawer-container{
      display: none;
    }
    img.dialogImage{
      width:50%;
      margin-right:15px;
    }  
    img.imgEnlarge{
      width:100%;
    }
    img.imgReduce{
      width:40%;
    }     
    main.home {  
      grid-template-columns: 1fr 8em;
    }
    main.archive{
      grid-template-columns: 1fr 9.5em;
    }
    .site-container{
      margin-top: 30px;
      margin-left: 2%;
      margin-right: 2%;            
    }
    .navbar-brand{     
      margin-right:1rem !important;
    }
    .navbar {
      padding: 0.9rem 2% !important;      
      border-bottom:1px solid rgba(0,0,0,.1);
    }  
    #dropdown-item-button:hover{
      background-color: rgba(0,0,0,.05) !important;
    }   
    .dropdown .btn-primary .dropdown-toggle:hover{
      background-color: #fff !important;          
    }
    .nav-link:hover{
      background-color:rgba(0,0,0,.05) !important;
      color:rgba(0,0,0,.5) !important;
    }
   
    .ril-close,
    .ril-zoom-in,
    .ril-zoom-out{  
      width:45px !important;
    }    
    .navbar-nav .dropdown-menu{
      border-left: none !important;
      border-right: none !important;
      border-radius: 0 !important;
      margin:0 !important;
    }
    .MuiIconButton-root{
      display: block;
    }
    header{
      padding-right: 0;
      padding-left: 0;
    }
    header.MuiAppBar-root::before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      border-bottom:1px solid rgba(0,0,0,.1);
    }    
    .main{
      width: 100%;
    }
  }

  /* Desktop Styles */
  @media only screen and (min-width: 1024px) {    
    .drawer-container{
      display: none;
    }
    img.dialogImage{
      width:35%;
      margin-right:20px;
    }    
    img.imgEnlarge{
      width:50%;
    }
    img.imgReduce{
      width:25%;
    }    
    main.home {  
      grid-template-columns: 1fr 8em;
    }
    
    main.archive{
      grid-template-columns: 1fr 9.5em;
    }    
    .site-container{
      margin-top: 30px;
      margin-left: 5%;
      margin-right: 5%;      
    }
    .navbar-brand{     
      margin-right:0px !important;
    }    
    #dropdown-item-button:hover{
      background-color: rgba(0,0,0,.05) !important;
    }
    .dropdown .btn-primary .dropdown-toggle:hover{
      background-color: #DBDBDB !important;       
    }
    .nav-link:hover{      
      background-color: rgba(0,0,0,.05) !important;
      color:rgba(0,0,0,.5) !important;
    }
    .navbar {     
      padding: 0.5rem  5% !important;
      outline: 0;
    } 
    .navbar::before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      width: 90%;
      left: 5%;
      border-bottom:1px solid rgba(0,0,0,.1);
    }
    .main{
      width: 100%;
    }
    .MuiIconButton-root{
      display: none !important;
    }  
  }
